@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body{
    padding: 7% 15px;
    margin: auto;
}

.container{
    border: 1px dotted gray;
    border-radius: 10px;
    padding: 7%;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    line-height: 2em;
}

ol {
    line-height: 2em;
    list-style: none;
}